.dataTables_wrapper
{
	width : 100%;
	
}

.dataTables_wrapper > .dataTables_divtable
{
	width:100%;
	display: block;
	overflow-x:auto;
}

.dataTables_wrapper > .dataTables_divtable > table
{
	margin:0px;
}

.datatable_flex
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom:3px;
}
.datatable_flex > .datatable_controls
{
	flex-grow:1;
}

.datatable_flex > .datatable_controls > .dataTables_info,
.datatable_flex > .datatable_controls > .dataTables_paginate,
.datatable_flex > .dataTables_length,
.datatable_flex > .datatable_button
{
	margin:0px;
	padding : 0px;
}

.datatable_flex > .datatable_controls > .dataTables_info
{
	height:30px;
	width: 100%;
	border-radius: 0px;
	background-image:none;
	border:0px;
	padding-top:4px;
	
	font: 14px Arial, Sans-serif;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(204, 204, 204, 0.7);
	vertical-align:middle;
	
	display: inline-block;
	text-align: center;
}

.datatable_flex > table
{
	margin-top:0;
}
.datatable_flex > .dataTables_length
{
	min-width:47px;
}

.datatable_flex > .dataTables_length > select.change_lengthOfPager
{
	margin: 0;
}

.datatable_flex > .dataTables_length,
.datatable_flex > .datatable_button
{
	margin : 2px;
}

.datatable_flex > .datatable_button > form.datatable_export_form_output
{
	margin-bottom: 0px;
	position:relative;
}

.datatable_flex > .datatable_button > form.datatable_export_form_output > input
{
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center;
	display:inline-block;
}

.datatable_flex > .datatable_button > form.datatable_export_form_output > input.datatable_export_button
{
	margin:0px;
	border-radius: 5px 0 0 5px;
	width:95px;
	text-align:left;
}

.datatable_flex > .datatable_button > form.datatable_export_form_output > input.datatable_export_showparam
{
	border-radius: 0 5px 5px 0 ;
	width: 20px;
	background-image: url(/datatable/pics/sort_desc.png);
	margin: 0px;
	margin-left: 1px;
}

.datatable_flex > .datatable_controls > .dataTables_paginate
{
	width: 100%;
	height:30px;
}

.datatable_flex > .datatable_controls > .dataTables_paginate > form
{
	display:flex;
}

.datatable_flex > .datatable_controls > .dataTables_paginate > form > *
{
	flex-shrink : 0;
}

.datatable_flex > .datatable_controls > .dataTables_paginate > form > img
{
	margin:2px;
	height:24px;
	border:1px solid black;
}

.datatable_flex > .datatable_controls > .dataTables_paginate > form > div
{
	text-align:center;
	flex-grow : 1;
	width:auto;
}

.dataTables_wrapper .datatable_export_parampage
{
	position:relative;
	text-align: center;
    display: block;
}

.dataTables_wrapper .datatable_export_parampagecontent
{
	position:absolute;
	right:0;
	top:5px;
	width:330px;
	
	overflow: hidden;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-left: -8%;
    border: 2px solid black;
    display: none;
	
	z-index:2;
}

.dataTables_wrapper hr
{
	border-top: 1px solid black;
}


.dataTable-research th > input,
.dataTable-research .dataTable-select-research
{
	margin:0;
	width : 100%;
		
	position: relative;
	
	display:inline-block;
	vertical-align: top;
}


.dataTable-research th > input
{
	height: 26px;
	top: 0px;
	padding:5px;
	border: 1px solid gray;
	border-radius: 5px;
}

.dataTable-research .dataTable-select-research
{
	height: 27px;
	top: 0px;
}


.dataTable-research .dataTable-select-research > button
{
	border: 1px solid gray;
	border-radius: 5px;
}

.dataTable > thead > tr
{
	padding-bottom: 5px;
}

.dataTable > thead > tr > th {
	background-repeat: no-repeat;
	background-position: center right;
	cursor:pointer;
	text-align:center;
	font: 12px/18px Arial, Sans-serif;
	font-weight: bold;
	border-collapse: collapse;
	padding: 4px;
	text-shadow: 0 1px 0 rgba(204, 204, 204, 0.7);
	border-width: 0 1px 1px 0;
}

.dataTable > thead > tr > th.sorting.sorting_asc{
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	padding: 4px 0px 10px 0px;
	background-position: bottom center;
}

.dataTable > thead > tr > th.sorting.sorting_desc{
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	padding: 4px 0px 10px 0px;
	background-position: bottom center;
}

.dataTable > thead > tr > th.sorting{
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	padding: 4px 0px 10px 0px;
	background-position: bottom center;
}

