
.dataTable-col-research{
	background-color: #eee !IMPORTANT;
	text-align: center;
}

.dataTable-col-research > input[type=search], .dataTable-col-research > select {
	width: 98%;
	height: auto;
	margin: 0;
	padding: 4px;
	background-color: #fff  ;
	border: 1px solid #bbb;
	color: #333;
}

.dataTable-col-research > input[type=search][placeholder]{
	font-style:oblique
}

.dataTable-col-research > select {
	cursor:pointer;
	border-radius : 5px;
}


.dataTable-col-research.none {
	cursor: not-allowed !IMPORTANT;
}