/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*PAGER*/
.dataTables_paginate{
	cursor: pointer;
	text-align: center;
	width: 20%;
	display: inline-block;
	margin-top:15px;
	margin-bottom:20px;
}

/*IMG*/
.pagerDataTable > img{
	margin: 0 10px;
} 

.pagerDataTable >  img.disabled{
	opacity:0.4;
	cursor:default;
}

/*SELECT*/
.pagerDataTable_page{
	border-radius: 8px;
	margin: 0 10px;
	padding: 2px 4px;
	border: 1px solid #969696;
	box-shadow: 2px 1px 0 0 #969696;
	//background-color:#dedede;
}

.pagerDataTable_page:hover{
	border: 1px solid #6C6C6C;
	background-color:#ededed;
}


.pagerDataTable_page:focus{
	border: 1px solid #21c4e7;
	box-shadow: 0 0 2px 0 #21c4e7;
}



